   <!-- footer  -->

   <footer class="bg-gray-800 py-4 text-white footer">
    <!-- Your footer content goes here -->
    <div class="footer-container">
        <h1>Designed and Developed by Adil Khan</h1>
        <h1>Copyright © <%= new Date().getFullYear() %> Adil Khan</h1>
        <div class="icon-footer-class">
            <a href="https://www.linkedin.com/in/adil-khan-230271261/" id="icons-footer" target="_blank"><i class="fab fa-linkedin fa-1x rounded-full"></i></a>
            <a href="https://github.com/madilkhan002" id="icons-footer" target="_blank"><i class="fab fa-github fa-1x rounded-full"></i></a>
            <a href="https://www.instagram.com/adildot68/" id="icons-footer" target="_blank"><i class="fab fa-instagram fa-1x rounded-full"></i></a>
            <a href="https://twitter.com/madilkhan002" id="icons-footer" target="_blank"><i class="fab fa-twitter fa-1x rounded-full"></i></a>
        </div>
  </footer>

  <style>
    /* footer  */
    footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .footer-container
    {
        display: flex;
        align-items:center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .icon-footer-class a
    {
        margin-left: 20px; margin-left: 5;
    }
  </style>