<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/2103b082de.js" crossorigin="anonymous"></script>
</head>
<body>

    <%- include('partials/navbar') %>

    <div class="intro-container">
        <h1 id="start">My Recent <span class="purple">Works</span></h1>
        <h1 id="end">Here are a few projects I've worked on recently.</h1>
    </div>

    <div class="card-container">
        
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 card-cl">
            <div class="inner-card-container">
                <img src="/images/arcade-store.png" alt="" />
            
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Arcade Store</h5>
                    <p class="mb-3">Developed a games purchasing store website with <span class="purple">CRUD</span> operations. Implemented <span class="purple">Nodemailer</span> for <span class="purple">signup</span> and <span class="purple">forget password verification</span>. Enabled users to add items to the <span class="purple">cart and Wishlist</span>. Sent user's bill receipt through email. Utilized <span class="purple">Socket IO</span> to implement a chat forum.
                    </p>
                    <p class="mb-3" style="color: purple; font-weight: bold;">
                        Used Html, Css, JavaScript, NodeJs, ExpressJs, MySql 
                    </p>
                    <a href="https://github.com/madilkhan002/Arcade-Store" target="_blank" class="focus:outline-none">
                        <button type="button" class="rounded-full text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
                            <i class="fab fa-github fa-1x mr-2"></i> <!-- Added margin class `mr-2` -->
                            Github
                        </button>
                    </a>
                      
                </div>
            </div>
            
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 card-cl">
            <div class="inner-card-container">
                <img src="/images/transport-manager.png" alt="" />
            
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Transport Manager</h5>
                    <p class="mb-3">Developed an <span class="purple">Android application</span> with user and admin modules. Admins could perform <span class="purple">CRUD</span> operations on users and used <span class="purple">Firebase</span> for data storage. Implemented <span class="purple">real-time chat forum</span> and stored messages in Firebase. Integrated <span class="purple">Google Maps API</span> for live user and destination locations. Enabled eligible students to generate <span class="purple">QR codes</span> for authentication.
                    </p>
                    <a href="https://github.com/madilkhan002/Transport-Manager" target="_blank" class="focus:outline-none">
                        <button type="button" class="rounded-full text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
                            <i class="fab fa-github fa-1x mr-2"></i> <!-- Added margin class `mr-2` -->
                            Github
                        </button>
                    </a>
                      
                </div>
            </div>

        </div>
        
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 card-cl">
            <div class="inner-card-container">
                <img  src="/images/covid-tracker.jpg" alt="" />
            
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Covid Tracker</h5>
                    <p class="mb-3">Developed Simplified <span class="purple">Web app</span> to perform different <span class="purple">statistical Tools</span> on covid data using <span class="purple">R Language</span>. Also performed <span class="purple">Linear Regression, Poisson Distribution </span> on data
                    </p>
                    <p class="mb-3" style="color: purple; font-weight: bold;">
                        Used Html, Css, JavaScript, NodeJs, ExpressJs, R
                    </p>
                    
                    <a href="https://github.com/madilkhan002/probalilty-data-analysis" target="_blank" class="focus:outline-none">
                        <button type="button" class="rounded-full text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
                            <i class="fab fa-github fa-1x mr-2"></i> <!-- Added margin class `mr-2` -->
                            Github
                        </button>
                    </a>
                      
                </div>                
            </div>

        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 card-cl">
            <div class="inner-card-container">
                <img src="/images/weather-app.png" alt="" />
            
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Weather App</h5>
                    <p class="mb-3">The Weather App with <span class="purple">search</span> is a web application that allows users to search for <span class="purple">weather information for different locations</span>. It is built using <span class="purple">Bootstrap</span> for the user interface design, utilizes a<span class="purple"> weather API</span> to fetch weather data, and incorporates<span class="purple"> AJAX</span> for asynchronous data retrieval.
                    </p>
                    <p class="mb-3" style="color: purple; font-weight: bold;">
                        Used Html, Css, JavaScript, NodeJs
                    </p>
                    <a href="https://github.com/madilkhan002/Weather-App" target="_blank" class="focus:outline-none">
                        <button type="button" class="rounded-full text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
                            <i class="fab fa-github fa-1x mr-2"></i> <!-- Added margin class `mr-2` -->
                            Github
                        </button>
                    </a>
                      
                    <a href="https://sparkling-teal-buffalo.cyclic.app/" target="_blank" class="focus:outline-none">
                        <button type="button" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
                            Demo
                        </button>
                    </a>
                      
                      
                </div>
            </div>

        </div>

        <!-- <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 card-cl">
            <div class="inner-card-container">
                <img class="rounded-t-lg" src="/images/covid-tracker.jpg" alt="" />

                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Covid Tracker</h5>
                    <p class="mb-3">Developed Simplified web app to perform different statistical Tools on covid data using R Language. Also performed Linear Regression, Poisson Distribution on data
                    </p>
                    <a href="/about" class="focus:outline-none">
                        <button type="button" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
                          Github
                        </button>
                    </a>
                      
                </div>
            </div>
        </div> -->

    </div>
    

    <%- include('partials/footer') %>



    <style>

        html
        {
            height: 100%;
            box-sizing: border-box;
        }
        body{
            position: relative;
            margin: 0;
            min-height: 100%;
            padding-bottom: 6.74rem;
            box-sizing: inherit;
        }

        .inner-card-container {
            min-height: 560px; /* Adjust the value as per your requirement */
        }

        .p-5{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }


        .intro-container{
            margin-top: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
        }
        #start{
            font-size: 40px;
        }
        #end{
            font-size: 20px;
            text-align: center;
        }


        .card-container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        .card-cl{
            margin-left: 17px;
            margin-right: 17px;
            box-shadow: 0 0 5px rgba(128, 0, 128, 0.8);
            margin-top: 100px;
        }
        

        .purple
        {
            color: purple;
        }

        img{
            
            margin: auto;
        }

        .card-cl {
            transition: transform 0.3s ease;
        }

        .card-cl:hover {
            transition: transform 0.3s ease;
            transform: scale(1.01);
            box-shadow: 0 0 10px rgba(128, 0, 128, 1);
        }


    </style>

</body>
</html>